/gradlew.bat
!/template/.chglog
!/template/.circleci
!/template/gradle
!/template/src
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/settings.gradle
.DS_Store