/*
!/.circleci
!/.gitignore
!/.gitmodules
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/LICENSE
!/build.gradle
!/build.properties
!/build.bat
!/build.sh
!/gradle.properties
!/settings.gradle
!/webresources
!/.chglog
.DS_Store